<h1><%=@kitten.name%></h1>

<h3>Other data of <%=@kitten.name%>:</h3>
<ul>
    <li>Age: <%=@kitten.age%></li>
    <li>Softness: <%=@kitten.softness%></li>
    <li>Cuteness: <%=@kitten.cuteness%></li>
    <p><%=link_to "back to root",root_path%></p>

</ul>

    <p><%#link_to 'delete?', @kitten.delete%></p>
